@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-[15px] h-[15px];
}

::-webkit-scrollbar-thumb {
  @apply bg-textColor rounded-full;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  @apply bg-bgColor;
}

::selection {
  background: #e2e2e2;
  color: #171717;
}

img {
  user-select: none;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.case {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  position: absolute;
  top: 0;
  left: calc(52.666666666666686% - 540px / 2);
  width: 540px;
  padding: 40px 0;
  overflow: visible;
  z-index: 40;
}

@media (min-width: 810px) and (max-width: 1023px) {
  .case {
    left: calc(50.00000000000002% - 59.01234567901235% / 2);
    width: 60%;
  }
}

@media (max-width: 809px) {
  .case {
    left: unset;
    padding: 40px 0 96px;
    position: relative;
    top: unset;
    width: 92%;
    margin-inline: auto;
  }
}

.caseNotFound {
  position: absolute;
  top: 50%;
  left: calc(52.666666666666686% - 540px / 2);
  translate: 0 -50%;
  width: 540px;
  padding: 40px 0;
  overflow: visible;
  z-index: 40;
}

@media (max-width: 1023px) {
  .caseNotFound {
    translate: unset;
    left: unset;
    padding: 40px 0 96px;
    position: relative;
    display: grid;
    top: unset;
    width: 92%;
    height: 100vh;
    margin-inline: auto;
  }
}
